.text-highlight{
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 80px;
}
.componentHighlight{
    text-align: center;
     padding-top: 100px;
}
.text{
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.componentHighlight:hover{
 border: 2px solid yellow;
 box-shadow: 10px 10px 20px;
}